@page
@model PrinterApp.Pages.Printers.IndexModel
@{
}

@if (TempData["SuccessMessage"] != null)
{
    // If there is a success message stored in the TempData dictionary, display it in a success message alert
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["SuccessMessage"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<br />
<h2>SGMC Printer List</h2>

<!-- Create a link to the Create Razor Page to create a new printer -->
<a class='btn btn-primary btn-sm' href='/Printers/Create'>New Printer</a>

<!-- Define a table to display the list of printers -->
<table class="table">
    <thead>
        <!-- Define the column headers for the printer table -->
        <tr>
            <th>ID</th>
            <th>Asset No.</th>
            <th>IP Address</th>
            <th>MAC</th>
            <th>Host DNS Name</th>
            <th>Location</th>
            <th>Type</th>
            <th>Product Model</th>
            <th>Serial Number</th>
            <th>MFG Date</th>
            <th>Notes</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <!-- Loop through each printer in the list and display its information in a table row -->
        @foreach (var item in Model.listPrinters)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.assetno</td>
                <td>@item.ipaddress</td>
                <td>@item.mac</td>
                <td>@item.hostdnsname</td>
                <td>@item.location</td>
                <td>@item.type</td>
                <td>@item.productmodel</td>
                <td>@item.serialnumber</td>
                <td>@item.mfgdate</td>
                <td>@item.notes</td>
                <td>
                    <!-- Create links to the Edit and Delete Razor Pages for each printer -->
                    <a class="btn btn-primary btn-sm" href="/Printers/Edit?id=@item.id">Edit</a>
                    <a class="btn btn-primary btn-sm" href="/Printers/Delete?id=@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!--
This code provides pagination functionality that is not currently in use in this view.
It defines "Previous" and "Next" buttons that allow the user to navigate through the list of printers.
-->
@*@{
 var prevDisabled = !Model.listPrinters.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.listPrinters.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.listPrinters.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.listPrinters.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>*@
